<web-app>



<servlet>
<servlet-name>pike</servlet-name>
<servlet-class>Exam2.Controller.Marks</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>pike</servlet-name>
<http-method>POST </http-method>
<url-pattern>/url2Marks</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>silas</servlet-name>
<servlet-class>Controller.Details</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>silas</servlet-name>
<url-pattern>/viewdetailsurl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>washi</servlet-name>
<servlet-class>Controller.Other</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>washi</servlet-name>
<url-pattern>/viewfacilitiesurl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>bang</servlet-name>
<servlet-class>Controller.Ahome</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>bang</servlet-name>
<url-pattern>/ahomeurl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>friend</servlet-name>
<servlet-class>Controller.AddStudent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>friend</servlet-name>
<url-pattern>/addstudenturl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>bingo</servlet-name>
<servlet-class>Controller.Marks</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>bingo</servlet-name>
<url-pattern>/viewmarksurl</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>bike</servlet-name>
<servlet-class>Controller.Final</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>bike</servlet-name>
<url-pattern>/finalurl</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>night</servlet-name>
<servlet-class>Controller.Large</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>night</servlet-name>
<url-pattern>/largeurl</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>nightfall</servlet-name>
<servlet-class>Controller.Last</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>nightfall</servlet-name>
<url-pattern>/viewmarks1url</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>epic</servlet-name>
<servlet-class>Controller.Topper</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>epic</servlet-name>
<url-pattern>/viewtopperurl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>google</servlet-name>
<servlet-class>Controller.DisplayTopper</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>google</servlet-name>
<url-pattern>/disptopperurl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>nachos</servlet-name>
<servlet-class>Controller.Marks2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>nachos</servlet-name>
<url-pattern>/marks2url</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>dhoni</servlet-name>
<servlet-class>Controller.Fhome</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>dhoni</servlet-name>
<url-pattern>/fhomeurl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>tomavery</servlet-name>
<servlet-class>Controller.CourseHand2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>tomavery</servlet-name>
<url-pattern>/coursehand2url</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>wth</servlet-name>
<servlet-class>Controller.ViewStud</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>wth</servlet-name>
<url-pattern>/viewstudurl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>hail</servlet-name>
<servlet-class>Controller.Second</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>hail</servlet-name>
<url-pattern>/secondurl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>faf</servlet-name>
<servlet-class>Controller.EditMarks</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>faf</servlet-name>
<url-pattern>/editmarksurl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>devil</servlet-name>
<servlet-class>Controller.CourseHand</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>devil</servlet-name>
<url-pattern>/coursehandurl</url-pattern>
</servlet-mapping>








<servlet>
<servlet-name>stefan</servlet-name>
<servlet-class>Controller.Shome</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>stefan</servlet-name>
<url-pattern>/shomeurl</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>hell</servlet-name>
<servlet-class>Controller.StudentLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>hell</servlet-name>
<url-pattern>/uStudent</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>heaven</servlet-name>
<servlet-class>Controller.FacultyLogin</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>heaven</servlet-name>
<url-pattern>/uFaculty</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>limbo</servlet-name>
<servlet-class>Controller.AdminLogin</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>limbo</servlet-name>
<url-pattern>/uAdmin</url-pattern>
</servlet-mapping>





</web-app>